<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}BacLab | Plateforme de Révision & Orientation{% endblock %}</title>
    <meta name="description" content="Plateforme éducative pour les bacheliers tunisiens : révisions, ressources et calcul de score.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('front/img/favicon.ico') }}">

    {% block css %}
        <link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/slicknav.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/progressbar_barfiller.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/gijgo.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/animated-headline.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
    {% endblock %}
</head>

<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{ asset('front/img/logo/loder.png') }}" alt="Chargement...">
                </div>
            </div>
        </div>
    </div>
    
    <header>
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{{ path('app_home') }}"><img  src="{{ asset('front/img/logo/logo.png') }}" style="width:100px;height:100px;" alt="BacLab Logo"></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                                <li><a href="#">Révision</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Cours & PDF</a></li>
                                                        <li><a href="#">Quiz & Tests</a></li>
                                                        <li><a href="{{ path('fiche_index') }}">fiches & co-édition</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Orientation</a>
                                                    <ul class="submenu">
                                                        <li><a href="#">Calcul du Score</a></li>
                                                        <li><a href="#">Guide des Filières</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Communauté</a></li>
                                                
                                                {% if app.user %}
                                                    <li class="button-header"><a href="{{ path('app_profile') }}" class="btn">Mon Profil</a></li>
                                                    <li class="button-header"><a href="{{ path('app_logout') }}" class="btn btn3">Déconnexion</a></li>
                                                {% else %}
                                                    <li class="button-header margin-left"><a href="{{ path('app_register') }}" class="btn">S'inscrire</a></li>
                                                    <li class="button-header"><a href="{{ path('app_login') }}" class="btn btn3">Connexion</a></li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <div class="footer-wrappper footer-bg">
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-logo mb-25">
                                    <a href="#"><img src="{{ asset('front/img/logo/logo2_footer.png') }}" alt="BacLab Footer"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Votre succès au Bac commence par une révision structurée et une orientation éclairée.</p>
                                    </div>
                                </div>
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Révision</h4>
                                    <ul>
                                        <li><a href="#">Mathématiques</a></li>
                                        <li><a href="#">Sciences</a></li>
                                        <li><a href="#">Informatique</a></li>
                                        <li><a href="#">Économie</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Orientation</h4>
                                    <ul>
                                        <li><a href="#">Calculer mon Score</a></li>
                                        <li><a href="#">Filières Universitaires</a></li>
                                        <li><a href="#">Guide de l'Orientation</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>Copyright &copy; {{ "now"|date("Y") }} BacLab - Tous droits réservés</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> 

    {% block js %}
        <script src="{{ asset('front/js/vendor/modernizr-3.5.0.min.js') }}"></script>
        <script src="{{ asset('front/js/vendor/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ asset('front/js/popper.min.js') }}"></script>
        <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.slicknav.min.js') }}"></script>
        <script src="{{ asset('front/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('front/js/slick.min.js') }}"></script>
        <script src="{{ asset('front/js/wow.min.js') }}"></script>
        <script src="{{ asset('front/js/animated.headline.js') }}"></script>
        <script src="{{ asset('front/js/jquery.magnific-popup.js') }}"></script>
        <script src="{{ asset('front/js/gijgo.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.sticky.js') }}"></script>
        <script src="{{ asset('front/js/jquery.barfiller.js') }}"></script>
        <script src="{{ asset('front/js/jquery.counterup.min.js') }}"></script>
        <script src="{{ asset('front/js/waypoints.min.js') }}"></script>
        <script src="{{ asset('front/js/jquery.countdown.min.js') }}"></script>
        <script src="{{ asset('front/js/hover-direction-snake.min.js') }}"></script>
        <script src="{{ asset('front/js/contact.js') }}"></script>
        <script src="{{ asset('front/js/jquery.form.js') }}"></script>
        <script src="{{ asset('front/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('front/js/mail-script.js') }}"></script>
        <script src="{{ asset('front/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ asset('front/js/plugins.js') }}"></script>
        <script src="{{ asset('front/js/main.js') }}"></script>
    {% endblock %}
</body>
</html>